/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* #region顶部导航条star */
.topbar {
    height: 30px;
    background-color: #ececec;
}
.welcom {
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 0;
}
.welcom span,.welcom a {
    font-size: 12px;
}
.welcom span:first-child {
    padding-right: 20px;
}
.welcom span:first-child+span+a{
    padding-right: 10px;
    border-right: solid #666 1px;
}
.welcom a:last-child {
    padding-left: 10px;
}
.nav .list {
    height: 30px;
    line-height: 30px;
}
.nav .list li {
    float: left;
    font-size: 12px;
}
.nav .list li a {
    border-right: #666 1px solid;
    padding: 0 15px;
}
.nav .list li:first-child a {
    padding-left: 0;
}
.nav .list li:last-child a {
    padding-right: 0;
    border-right: 0;
}
.topbar a:hover {
    color: #f60;
}
/* #endregion顶部导航条end */

/* #region头部 */
.head {
    position: sticky;
    height: 120px;
    top: 0px;
    background-color: #fff;
}
.logo img {
    padding-top: 40px;
    padding-left: 75px;
}
#s {
    margin-top: 42px;
    font-size: 0;
}
#s input {
    width: 400px;
    height: 34px;
    border: 3px solid #f60;
    border-right-width: 0;
    background-color: transparent;
    color: #f60;
    font-size: 16px;
    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    text-align: center;
    box-sizing: border-box;
}
#s button {
    width: 34px;
    height: 34px;
    background-image: url(../images/ss\,.png);
    background-repeat: no-repeat;
    vertical-align: top;
    background-color: transparent;
    background-size: 24px 24px;
    border: #f60 solid 3px;
    border-left-width: 0;
    background-origin: border-box;
    background-position: 0 5px;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}
/* #endregion头部 */

/* #region主导航区 */
.m {
    color: #f60;
    transition: color 0.3s;
}
.m:hover {
    color: red;
}
.other{
    position: relative;
}
.main-nav {
    height: 48px;
    border-bottom: 1px #f60 solid;
}
.all {
    width: 190px;
    height: 48px;
    background-color: #f60;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}
.other li {
    float: left;
    line-height: 48px;
    font-size: 16px;
    height: 48px;
    padding: 0 10px;
    display: inline-block;
}
.other li a {
    color: #f60;
}
.other li:last-child {
    margin-right: 0;
}
.menu {
    width: 690px;
    height: 448px;
    position: absolute;
    top: 49px;
    left: 10px;
    display: none;
}

.other li:hover .menu{
    display: block;
    background-color: #fff;
    padding-top: 20px;
}

.menu dt {
    width: 70px;
    font-weight: bold;
    padding-left: 20px;
}
.menu dl {
    height: 36px;
    line-height: 36px;
    color: #f60;
}
.other li:hover .menu dd a {
    padding: 0 10px;
    border-left: #f60 1px solid;
    color: #f60;
}
.other li:hover {
    background-color: #f60;
}
.other li:hover>a {
    color: #fff;
}

/* #endregion主导航区 */

/* #region主要内容区 */
.main-content{
    margin-top: 10px;
}
.slide-l {
    width: 190px;
    height: 458px;
    background-color: #fdd;
}
.slide-l li a{
    color: #f60;
    font-size: 14px;
    line-height: 28px;
    padding-left: 16px;
    height: 28px;
    display: block;
}
.slide-l li a:hover {
    background-color: #f60;
    color: #fff;
}

.slide-c {
    width: 690px;
    height: 458px;
    background-image: url(../images/z.png);
    background-size: 690px 458px;
    margin: 0 10px;
}

.slide-r {
    width: 290px;
    height: 458px;
}
.slide-r .content {
    width: 260px;
    height: 156px;
    border: #f60 solid 1px;
    padding: 0 14px;
    font-size: 16px;
    color: #f60;
}
.slide-r .content .title a {
    color: #f60;
    font-size: 12px;
}
.slide-r .content .title a:hover {
    color: red;
}
.slide-r .content .title {
    height: 38px;
    line-height: 38px;
    border-bottom: #f60 1px solid;
}
.slide-r .content .next li {
    font-size: 12px;
    line-height: 26px;
}
.slide-r .content .next li a {
    color: #f60;
}
.slide-r .content .next li a:hover {
    color: red;
}                                                       
.slide-r .b {
    width: 290px;
    height: 290px;
    margin-top: 10px;
    position: relative;
}
.b div {
    font-size: 25px;
    height: 236px;
    color: #f60;
    padding-left: 50px;
    background-color: #f60;
}
.b audio {
    width: 290px;
    height: ;
    position: absolute;
    bottom: 0px;
}

/* #endregion主要内容区 */